* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #252933;
  color: white;
}

.site-header {
  margin-top: 5vh;
}

.site-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

.site-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: center;
}

.site-footer hr {
  flex-basis: 80%;
  margin: 10px 0 0;
}

.site-footer p {
  flex-basis: 100%;
  text-align: center;
  margin: 10px;
}

.brand-logo {
  width: 60px;
  height: 60px;
}

.brand-name {
  display: flex;
  align-items: center;
}

.brand-name a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
  background: -webkit-linear-gradient(#2bd095, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.5rem;
  margin-left: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4%;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 1rem 0;
  justify-content: space-between;
  flex-basis: 30rem;
  align-items: center;
}

nav ul li a {
  font: 300 20px "Poppins", sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

nav ul li {
  transition: 1s;
}

nav ul li:hover {
  word-wrap: normal;
  text-shadow: 0 0 10px #2bd095;
}

.register-success {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.register-success p {
  text-align: center;
  background-color: rgb(81, 177, 26);
  padding: 10px;
  border-radius: 2px;
  color: white;
}

.account-question {
  flex-basis: 100%;
  text-align: center;
}

.account-question a {
  text-decoration: none;
  color: #2bd095;
}

.form-section {
  background-color: #3d4454;
  max-width: 500px;
  width: 90%;
}

.wrapper {
  list-style-type: none;
  padding: 1rem;
  margin: 0;
  font-weight: 500;
  border: 1px solid #2bd095;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #3d4454 inset;
}

input:-webkit-autofill:first-line {
  color: #fff;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 4px 10px;
  margin: 0.5rem;
}

.form-row label {
  text-align: end;
  margin-right: 1rem;
  white-space: nowrap;
  flex: 2;
}

.form-row input:not([type="submit"]) {
  flex: 5;
}

.transparent-input {
  font-size: 16px;
  color: white;
  border-width: 0 0 thin 0;
  background: transparent;
}

.transparent-input:focus {
  outline: none;
  border-bottom-color: #2bd095;
}

.transparent-input:focus:invalid {
  border-bottom-color: red;
}

input[type="submit"] {
  padding: 8px 30px;
  background-color: #2bd095;
  color: #3d4454;
  border: 0;
  font: 600 20px "Poppins", sans-serif;
  align-self: center;
}

input[type="submit"]:hover {
  background-color: #12e99e;
}

input[type="submit"]:focus {
  outline: rgb(15, 122, 243) solid 1.5px;
}

h2 {
  color: #3d4454;
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 0.5rem 0;
  background-color: #2bd095;
}

.required-info {
  font-size: 10.5px;
  color: red;
  height: auto;
  margin-top: 5px;
}

@media screen and (max-width: 1024px) {
  .brand-name {
    flex-basis: 100%;
    justify-content: center;
  }

  nav {
    flex-flow: row wrap;
    justify-items: flex-start;
    align-content: space-around;
    justify-content: center;
  }

  nav ul {
    align-self: center;
    margin-top: 10px;
  }

  .form-row {
    flex-direction: column;
  }

  .form-row label {
    margin: 0;
    align-self: flex-start;
  }
}

@media screen and (max-width: 480px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    padding: 5px 0;
  }
}
