<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>Courier</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="styles/courier.css" rel="stylesheet" type="text/css" />
    <link href="images/alpaca.svg" rel="shortcut icon" />
  </head>

  <body>
    <header class="site-header">
      <nav>
        <div class="brand-name">
          <img
            class="brand-logo"
            src="images/alpaca.svg"
            alt="Alpaka logo"
            height="50"
            width="50"
          /><a href="/">AlPaczka</a>
        </div>
        <ul>
          {% if isLogged %}
          <li><a href="parcels">Paczki</a></li>
          <li><a href="pickup">Odbierz</a></li>
          <li><a href="generateCode">Wygeneruj kod</a></li>
          <li><a href="logout">Wyloguj</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main class="site-content">
      <section class="main-content">
        <div class="code-generator">
          <section class="form-section">
            <h2>Wygeneruj kod</h2>
            <form
              id="pickup-form"
              class="registration-form"
              action="https://localhost:7002/generateCode"
              method="POST"
            >
              <ul class="wrapper">
                <li class="form-row">
                  <label for="parcel_lockers">Wybrany paczkomat:</label>
                  <select name="parcel_locker_id" id="parcel_lockers">
                    {% for parcel_locker in parcel_lockers %}
                    <option value="{{parcel_locker.id}}">
                      {{parcel_locker.name}}
                    </option>
                    {% endfor %}
                  </select>
                </li>
                {% if code %}
                <li class="form-row">
                  <div class="locker-code">
                    <p>{{code}}</p>
                    <p>Kod jest ważny przez 60 sekund</p>
                  </div>
                </li>
                {% endif %}
                <li class="form-row">
                  <input type="submit" value="Wygeneruj" />
                </li>
              </ul>
            </form>
          </section>
          {% if wrongLockerId %}
          <div class="wrong-id">
            <p>Podano błędny identyfikator paczkomatu</p>
          </div>
          {%endif%}
        </div>
      </section>
    </main>
    <footer class="site-footer">
      <hr />
      <p>&copy; 2020 Jakub Jackowski</p>
    </footer>
  </body>
</html>
