<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>Courier</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="styles/courier.css" rel="stylesheet" type="text/css" />
    <link href="images/alpaca.svg" rel="shortcut icon" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>
    <script src="/scripts/parcels_socket.js"></script>
  </head>

  <body>
    <header class="site-header">
      <nav>
        <div class="brand-name">
          <img
            class="brand-logo"
            src="images/alpaca.svg"
            alt="Alpaka logo"
            height="50"
            width="50"
          /><a href="/">AlPaczka</a>
        </div>
        <ul>
          {% if isLogged %}
          <li><a href="parcels">Paczki</a></li>
          <li><a href="pickup">Odbierz</a></li>
          <li><a href="generateCode">Wygeneruj kod</a></li>
          <li><a href="logout">Wyloguj</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main class="site-content">
      <section>
        <h4>
          Lista odebranych paczek{% if length %} ( liczba wszystkich paczek:
          {{length}} ){%endif%}
        </h4>
        {% if files|length %}
        <table class="shipments-table">
          <thead>
            <tr>
              <td>Lp.</td>
              <td>Identyfikator paczki</td>
              <td>Data utworzenia</td>
            </tr>
          </thead>
          <tbody>
            {% for filename in files %}
            <tr>
              <td>{{ loop.index0+1+start }}</td>
              <td>{{ filename["uid"] }}</td>
              <td>{{ filename["creation_date"] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <nav class="pagination-nav">
          {% if prev %}
          <a href="https://localhost:7002{{prev}}">
            <button class="prev-btn">Poprzednia strona</button>
          </a>
          {% endif %} {% if next %}
          <a class="next-btn-a" href="https://localhost:7002{{next}}">
            <button class="next-btn">Nastepna strona</button>
          </a>
          {% endif %}
        </nav>
        {% else %}
        <p>Aktualnie nie masz żadnych listów.</p>
        {% endif %}
      </section>
    </main>
    <footer class="site-footer">
      <hr />
      <p>&copy; 2020 Jakub Jackowski</p>
    </footer>
  </body>
</html>
