<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>Parcel Locker</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="styles/parcel_locker.css" rel="stylesheet" type="text/css" />
    <link href="images/alpaca.svg" rel="shortcut icon" />
  </head>

  <body>
    <header class="site-header">
      <nav>
        <div class="brand-name">
          <img
            class="brand-logo"
            src="images/alpaca.svg"
            alt="Alpaka logo"
            height="50"
            width="50"
          /><a href="/">AlPaczka</a>
        </div>
      </nav>
    </header>
    <main class="site-content">
      <section class="main-nav-content">
        <div class="insert-parcel">
          <a href="/insert"><button>Nadaj paczkę</button></a>
        </div>
        <div class="pickup-parcel">
          <a href="/pickup"><button>Wyjmij paczkę</button></a>
        </div>
      </section>
    </main>
    <footer class="site-footer">
      <hr />
      <p>&copy; 2020 Jakub Jackowski</p>
    </footer>
  </body>
</html>
