<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>Parcel Locker</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="styles/parcel_locker.css" rel="stylesheet" type="text/css" />
    <link href="images/alpaca.svg" rel="shortcut icon" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>
    <script src="/scripts/insert_socket.js"></script>
  </head>

  <body>
    <header class="site-header">
      <nav>
        <div class="brand-name">
          <img
            class="brand-logo"
            src="images/alpaca.svg"
            alt="Alpaka logo"
            height="50"
            width="50"
          /><a href="/">AlPaczka</a>
        </div>
      </nav>
    </header>
    <main class="site-content">
      <section class="main-content">
        <section class="form-section">
          <h2>Nadaj paczkę</h2>
          <form
            id="insert-form"
            class="registration-form"
            action="https://localhost:7003/insert"
            method="POST"
          >
            <ul class="wrapper">
              <li class="form-row">
                <label for="parcel_lockers">Wybrany paczkomat:</label>
                <select name="parcel_lockers" id="parcel_lockers">
                  {% for parcel_locker in parcel_lockers %}
                  <option value="{{parcel_locker.id}}">
                    {{parcel_locker.name}}
                  </option>
                  {% endfor %}
                </select>
              </li>
              <li class="form-row">
                <label for="parcel_id">Identyfikator paczki</label
                ><input
                  id="parcel-id-input"
                  name="parcel_id"
                  class="transparent-input"
                  type="text"
                />
              </li>
              <li class="form-row">
                <input type="submit" value="Nadaj" />
              </li>
            </ul>
          </form>
        </section>
        {% if wrongId %}
        <div class="wrong-id">
          <p>Wprowadzono błędny identyfikator</p>
        </div>
        {% elif wrongStatus %}
        <div class="wrong-id">
          <p>Paczka została już wcześniej przekazana</p>
        </div>
        {% elif pickupSuccess %}
        <div class="correct-id">
          <p>Paczka poprawnie nadana</p>
        </div>
        {%endif%}
      </section>
    </main>
    <footer class="site-footer">
      <hr />
      <p>&copy; 2020 Jakub Jackowski</p>
    </footer>
  </body>
</html>
