<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>AlPaczka</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/styles/error.css" rel="stylesheet" type="text/css" />
    <link href="/images/alpaca.svg" rel="shortcut icon" />
  </head>

  <body>
    <section>
      <h2>400</h2>
      <p>Nieprawidłowe zapytanie</p>
      <p>
        Żądanie nie może być obsłużone z powodu błędnego zapytania lub adresu
        url
      </p>
      <p>Wróć na <a href="/">stronę główną</a></p>
      <p></p>
    </section>
  </body>
</html>
