<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>AlPaczka</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/styles/error.css" rel="stylesheet" type="text/css" />
    <link href="/images/alpaca.svg" rel="shortcut icon" />
  </head>

  <body>
    <section>
      <h2>404</h2>
      <p>Nie znaleziono</p>
      <p>Strona, której szukasz, nie istnieje</p>
      <p>Wróć na <a href="/">stronę główną</a></p>
      <p></p>
    </section>
  </body>
</html>
